.section {
  background-color: white;
}
.section__content {
  padding: 20px 15px 20px;
}
.section__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .section__header {
    display: grid;
    grid-template-columns: 1fr;
  }
}
