.buttons_buttonsCompleted {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  font-size: 16px;
}
.buttons__button {
  border: none;
  background-color: white;
  color: teal;
  cursor: pointer;
}
.buttons__button:disabled {
  color: grey;
  cursor: default;
}
.buttons__button:disabled:hover {
  color: grey;
}
.buttons__button:hover {
  color: hsl(120, 100%, 35%);
  transition: 1s;
}
.buttons__button:active {
  color: hsl(120, 100%, 45%);
  transition: none;
}
@media (max-width: 767px) {
  .buttons_buttonsCompleted {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 30px;
    margin-top: 30px;
  }
}
